{{ define "main" }}
  <article class="max-w-full">
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
    </header>
    <section class="flex justify-center max-w-full mt-6 prose dark:prose-invert">
      <div>
        <!-- Ads After Recent Templates -->
        {{ partial "ads/topWebsite.html" . }}
      </div>
    </section>
    <section class="block md:flex justify-around max-w-full mt-6 prose dark:prose-invert">
      <div class="w-full flex justify-center">
        <!-- Ads After Recent Templates -->
        {{ partial "ads/redirectPageSideOne.html" . }}
      </div>
      <div class="w-full flex justify-center">
        <img id="preview" src="/img/logo.png" alt="">
      </div>
      <div class="w-full flex justify-center">
        <!-- Ads After Recent Templates -->
        {{ partial "ads/redirectPageSideTwo.html" . }}
      </div>
    </section>
    <section class="flex justify-center max-w-full mt-6 prose dark:prose-invert">
      <div>
        <!-- Ads After Recent Templates -->
        {{ partial "ads/beforeArticle.html" . }}
      </div>
      </section>
    <footer class="pt-8">
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
          let url = new URL(window.location.href);
          let p = url.searchParams.get("p");
          if(p) {
            document.getElementById('preview').setAttribute('src', `/img/${p}`);
          }
      });
  </script>
{{ end }}